<?xml version="1.0" encoding="UTF-8"?>
<hivemq>
  <listeners>
    <tcp-listener>
      <port>1883</port>
      <bind-address>0.0.0.0</bind-address>
    </tcp-listener>
    <websocket-listener>
      <port>8000</port>
      <bind-address>0.0.0.0</bind-address>
      <path>/mqtt</path>
    </websocket-listener>
  </listeners>
  <security>
    <allow-empty-client-id>true</allow-empty-client-id>
  </security>
  <mqtt>
    <queued-messages>
      <strategy>discard</strategy>
    </queued-messages>
  </mqtt>
</hivemq>
