<?xml version="1.0" encoding="UTF-8"?>
<hivemq>
  <listeners>
    <tls-tcp-listener>
      <port>8883</port>
      <bind-address>0.0.0.0</bind-address>
      <name>secure-mqtt</name>
      <tls>
        <keystore>
          <path>/run/hivemq-tls/server.jks</path>
          <password>changeit</password>
          <private-key-password>changeit</private-key-password>
        </keystore>
        <protocols>
          <protocol>TLSv1.3</protocol>
          <protocol>TLSv1.2</protocol>
        </protocols>
        <client-authentication-mode>NONE</client-authentication-mode>
      </tls>
    </tls-tcp-listener>
  </listeners>
</hivemq>
